.super-container{
    margin-left: 100px;
    margin-right: 100px;
}
.main-container{
    border: 2px solid black;
}

.left1{
    float: left;
    width: 30%;
}

.right1{
    float: right;
    width: 15%;
}

.left1,.right1{
    height: 70px;
    background-color: lightcoral;
    margin: 20px;
    margin-top: 0px;
}

.clearfix{
    overflow: auto;
}

.row21{
    width: 33%;
    height: 75px;
    background-color: lightcoral;
    margin-left: 33%;
}

.row22{
    width: 10%;
    height: 20px;
    background-color: lightcoral;
    margin-left: 45%;
    margin-top: 20px;
}

.container-3{
    margin: 20px;
    background-color: lightcoral;
}

.container-5{
    background-color: lightcoral;
}

.column3{
    height: 25px;
    background-color: darkslategrey;
    width: 20%;
    margin: 10px;
    display: inline-block;
}

.column312{
    height: 40px;
    width: 35%;
    margin-top: 20px;
}

.column313{
    width: 35%;
}

.column322{
    width:72%;
    height: 80px;
}

.column331,.column341{
    background-color: lightcoral;
}

.column332{
    width: 30%;
    height: 35px;
}

.column342,.column343{
    width: 30%;
    height: 40px;
}

.column342{
    height: 75px;
}

.container-5{
    border-top: 2px solid black;
}

.column512{
    background-color: lightcoral;
}

.column513{
    float: right;
}

.column513,.column511{
    height: 50px;
    
}
.column521{
    width: 10%;
}

.column531,.column532,.column571{
    height: 50px;
    width: 10%;
}

.column531,.column571{
    width: 86%;
}

.column541{
    width: 30%;
}

.column551{
    height: 50px;
    width: 98%;
}

.col581,.col591{
    float: right;
}

.col511{
    margin-bottom: 0px;
}

.fleft,.fright{
    background-color: darkslategray;
    width: 20%;
    height: 10px;
    margin-top: 5px;
    float: left;
}

.fright{
    float: right;
    width: 40%;
}

.e41,.e42,.e43{
    background-color: lightcoral;
    width: 15%;
    height: 25px;

}

ul{
    display: inline-block;
    margin: 0px;
}

.column411,.column412,.column413,.column414{
    width: 15%;
    background-color: lightcoral;
    height: 35px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.column414{
    background-color: darkslategray;
    float: right;
    width: 10%;
}

